@model MesasViewModel

@{
    ViewData["Title"] = "Crud de Mesas";

    var editar = Model.EditarMesa != null;
}

<div class="container my-4">
    <h1 class="text-center">Crud de Mesas</h1>

    <button id="agregarMesaButton" class="btn btn-success mb-3">Agregar Nueva Mesa</button>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Mesa</th>
                <th>Cantidad de Personas</th>
                <th>Zona</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var mesa in Model.Mesas)
            {
                <tr>
                    <td>@mesa.Id</td>
                    <td>@mesa.NombreMesa</td>
                    <td>@mesa.Personas</td>
                    <td>@mesa?.Zona?.NombreZona</td>
                    <td>
                        <a href="/Administracion/Editar?idMesa=@mesa.Id" class="btn btn-warning">Editar</a>
                        <a href="/Administracion/Eliminar?idMesa=@mesa.Id" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="modal fade" id="agregarMesaModal" tabindex="-1" role="dialog" aria-labelledby="agregarMesaModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @if (editar)
            {
                <form asp-action="Editar" asp-controller="Administracion" method="post">
                    @Html.HiddenFor(x=>x.EditarMesa.Id)
                    <div class="modal-header">
                        <h5 class="modal-title" id="agregarMesaModalLabel">Agregar Nueva Mesa</h5>
                        <button type="button" class="close" data-dismiss="modal" onclick="CerrarModal()" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="form-group">
                            <label for="numeroMesa">Nombre de Mesa</label>
                            <input type="text" class="form-control" asp-for="EditarMesa.NombreMesa" required>
                        </div>
                        <div class="form-group">
                            <label for="cantidadPersonas">Cantidad de Personas</label>
                            <input type="number" class="form-control" asp-for="EditarMesa.Personas" required>
                        </div>
                        <div class="form-group">
                            <label for="zona">Zona</label>
                            <select class="form-select" asp-for="EditarMesa.IdZona" required>
                                <option value="" selected hidden>Seleccione una zona</option>
                                @foreach (var zona in Model.Zonas)
                                {
                                    <option value="@zona.Id">@zona.NombreZona</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button id="submit" class="btn btn-primary">Editar</button>
                    </div>
                </form>
            }
            else
            {
                <form asp-action="AgregarMesa" asp-controller="Administracion" method="post">
                    <div class="modal-header">
                        <h5 class="modal-title" id="agregarMesaModalLabel">Agregar Nueva Mesa</h5>
                        <button type="button" class="close" data-dismiss="modal" onclick="CerrarModal()" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="form-group">
                            <label for="numeroMesa">Nombre de Mesa</label>
                            <input type="text" class="form-control" asp-for="NuevaMesa.NombreMesa" required>
                        </div>
                        <div class="form-group">
                            <label for="cantidadPersonas">Cantidad de Personas</label>
                            <input type="number" class="form-control" asp-for="NuevaMesa.Personas" required>
                        </div>
                        <div class="form-group">
                            <label for="zona">Zona</label>
                            <select class="form-select" asp-for="NuevaMesa.IdZona" required>
                                <option value="" selected hidden>Seleccione una zona</option>

                                @foreach (var zona in Model.Zonas)
                                {
                                    <option value="@zona.Id">@zona.NombreZona</option>
                                }

                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button id="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            }
        </div>
    </div>
</div>

@section scripts{
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        // Mostrar el modal al hacer clic en "Agregar Nueva Mesa"
        $("#agregarMesaButton").click(function () {
            $("#numeroMesa").val("");
            $("#cantidadPersonas").val("");
            $("#zona").val("");
            MostrarModal();
        });

        $("#EliminarMesa").click(function () {
            swal("Mesa Eliminada", "La mesa ha sido eliminada exitosamente.", "success");
        });

        $("#EditarMesa").click(function () {
            $("#numeroMesa").val("3");
            $("#cantidadPersonas").val("3");
            $("#zona").val("Zona 3");
            MostrarModal();
        });

        // Mostrar la alerta de éxito al guardar
        $("#guardarMesaButton").click(function () {
            // Aquí debes agregar la lógica para guardar la nueva mesa (por ejemplo, una llamada a la API o AJAX)
            // Una vez guardada la mesa, muestra la alerta de éxito utilizando SweetAlert
            swal("Mesa Agregada", "La nueva mesa se ha agregado con éxito.", "success");

            // Cierra el modal
            CerrarModal();
        });

        function CerrarModal() {
            $("#agregarMesaModal").modal("hide");
        }

        function MostrarModal() {
            $("#agregarMesaModal").modal("show");
        }

    </script>

    @if (editar)
    {
        <text>
            <script type="text/javascript">
                $(document).ready(function () {
                    $("#agregarMesaModal").modal("show");
                });
            </script>
        </text>
    }

    @if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
    {
        <text>
            <script type="text/javascript">
                $(document).ready(function () {
                    Swal.fire({
                        icon: 'success',
                        title: 'Success',
                        text: '@Html.Raw(ViewBag.SuccessMessage)',
                    });
                });
            </script>
        </text>
    }

    @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
    {
        <text>
            <script type="text/javascript">
                $(document).ready(function () {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: '@Html.Raw(ViewBag.ErrorMessage)',
                    });
                });
            </script>
        </text>
    }

}

