@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container">
    <div class="row">

        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <div class="card">
                <h5 class="card-header">Mesa 1</h5>
                <div class="card-body">
                    <p class="card-title text-success fw-bolder">Disponible</p>
                    <p class="card-text">Mesa para 4 personas</p>
                    <a href="@Url.Action("Asignar")" class="btn btn-primary">Asignar mesa</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <div class="card">
                <h5 class="card-header">Mesa 2</h5>
                <div class="card-body">
                    <p class="card-title text-success fw-bolder">Disponible</p>
                    <p class="card-text">Mesa para 5 personas</p>
                    <a href="@Url.Action("Asignar")" class="btn btn-primary">Asignar mesa</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <div class="card">
                <h5 class="card-header">Mesa 3</h5>
                <div class="card-body">
                    <p class="card-title text-danger fw-bolder">Ocupada</p>
                    <p class="card-text">Mesa para 2 personas</p>
                    <a href="@Url.Action("Detalle")" class="btn btn-primary mb-2">Ver detalle</a>
                    <a href="#" class="btn btn-success mb-2">Pasar a caja</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <div class="card">
                <h5 class="card-header">Mesa 4</h5>
                <div class="card-body">
                    <p class="card-title text-danger fw-bolder">Ocupada</p>
                    <p class="card-text">Mesa para 8 personas</p>
                    <a href="@Url.Action("Detalle")" class="btn btn-primary mb-2">Ver detalle</a>
                    <a href="#" class="btn btn-success mb-2">Pasar a caja</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <div class="card">
                <h5 class="card-header">Mesa 5</h5>
                <div class="card-body">
                    <p class="card-title text-danger fw-bolder">Ocupada</p>
                    <p class="card-text">Mesa para 2 personas</p>
                    <a href="@Url.Action("Detalle")" class="btn btn-primary mb-2">Ver detalle</a>
                    <a href="#" class="btn btn-success mb-2">Pasar a caja</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <div class="card">
                <h5 class="card-header">Mesa 6</h5>
                <div class="card-body">
                    <p class="card-title text-danger fw-bolder">Ocupada</p>
                    <p class="card-text">Mesa para 8 personas</p>
                    <a href="@Url.Action("Detalle")" class="btn btn-primary mb-2">Ver detalle</a>
                    <a href="#" class="btn btn-success mb-2">Pasar a caja</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <div class="card">
                <h5 class="card-header">Mesa 7</h5>
                <div class="card-body">
                    <p class="card-title text-danger fw-bolder">Ocupada</p>
                    <p class="card-text">Mesa para 2 personas</p>
                    <a href="@Url.Action("Detalle")" class="btn btn-primary mb-2">Ver detalle</a>
                    <a href="#" class="btn btn-success mb-2">Pasar a caja</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <div class="card">
                <h5 class="card-header">Mesa 8</h5>
                <div class="card-body">
                    <p class="card-title text-danger fw-bolder">Ocupada</p>
                    <p class="card-text">Mesa para 8 personas</p>
                    <a href="@Url.Action("Detalle")" class="btn btn-primary mb-2">Ver detalle</a>
                    <a href="#" class="btn btn-success mb-2">Pasar a caja</a>
                </div>
            </div>
        </div>

    </div>
</div>