@model List<ComedorViewModel>

<div class="container">
    <div class="row">

        @foreach(var item in Model)
        {
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="card">
                    <h5 class="card-header">@item.Mesa.NombreMesa</h5>
                    <div class="card-body">
                        <p class="card-title fw-bolder">Estado: <span class="@MesaTextStyle.GetTextColor(item.Estado)">@item.Estado</span></p>
                        <p class="card-text"><span class="card-title fw-bolder">Mesa para:</span> @item.Mesa.Personas personas</p>
                        <p class="card-text"><span class="card-title fw-bolder">Ubicada en: </span>@item.Mesa.Zona.NombreZona</p>

                        @if(item.Estado == MesaStateReferences.Libre)
                        {
                            <a href="@Url.Action("Asignar")" class="btn btn-primary">Asignar mesa</a>
                        }
                        else if (item.Estado == MesaStateReferences.Reservada)
                        {
                            <a href="@Url.Action("Asignar", new { idMesa = item.Mesa.Id })" class="btn btn-primary">Asignar reservación</a>
                        }
                        else if (item.Estado == MesaStateReferences.Asignada)
                        {
                            <a href="@Url.Action("Detalle")" class="btn btn-primary mb-2">Ver detalle</a>
                        }

                    </div>
                </div>
            </div>
        }

    </div>
</div>